[global]
   realm = pyro.testrealm.local
   server string = Samba Server %v
   netbios name = kgsamba
   security = ads
   dns proxy = no
   log file = /var/log/samba/log.%m
   max log size = 1000
   syslog = 0
   map to guest = bad user
   server role = standalone server

[profiles]
   comment = Home Directories
   path = /etc/samba/profiles
   # valid users = @kgsmbgrp
   browseable = yes
   guest ok = no
   read only = no
   create mask = 0770
   profile acls = yes
   csc policy = disable
   store dos attributes = Yes
