<user-mapping>
   <authorize username="vagrant" password="vagrant">
        <connection name="KG_AD">
                <protocol>rdp</protocol>
                <param name="hostname">10.255.10.20</param>
                <param name="port">3389</param>
        </connection>
        <connection name="KG_Strgutl">
                <protocol>rdp</protocol>
                <param name="hostname">10.255.10.21</param>
                <param name="port">3389</param>
        </connection>
        <connection name="KG_TS1">
                <protocol>rdp</protocol>
                <param name="hostname">10.255.10.22</param>
                <param name="port">3389</param>
        </connection>
        <connection name="KG_TS2">
                <protocol>rdp</protocol>
                <param name="hostname">10.255.10.23</param>
                <param name="port">3389</param>
        </connection>
    </authorize>
</user-mapping>
